/*
selector{
    property:value;
}

h1{
    background-color: blue; 
    color: red; 
    text-align: center;
}

p{
    background-color: aquamarine;
    font-size: large;
}

body{
    background-color:yellowgreen;
}
*/

.saman-h1 {
    background-color: red;
    color: white;
    text-align: center;
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px; */
    /* padding: 20px 10px 20px 10px; */
    padding: 50px; 

    border: 5px solid black;
    border-radius: 50px;
    border-style: groove;

    margin: 50px;
    
}

.icet-h1 {
    background-color: blue;
    color: white;
    font-family:cursive;
    font-size: xx-large;
    text-align: center;
    letter-spacing:0.2cm;
    text-decoration: underline dashed;
}

#pg1-background{
    color: crimson;
    background-color: aqua;
}

#pg2-background{
    color: yellow;
    background-color: purple;
    margin: 10px;
}

body{
    background-image: url('../img/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#box01{
    width: 50px;
    height: 50px;
    background-color: brown;
    position: relative;
    /* position: absolute; */
    top: 10px;
    left: 80px;

}

#box02{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    background-color: blue;
}



/* *{
    background-color: black;
    margin: 0;
    padding: 0;
} */